#profile input:focus {
  outline: 0;
}

#profile input {
  background-color: white;
  width: 111px;
  height: 25px;
  margin-top: 10px;
  border-bottom: solid 1px #dfdfdf;
}

#profile {
  position: absolute;
  left: 80%;
}
